# Ignore app caches and junk

**/Code Cache/

**/Cache/

**/GPUCache/

**/*.log

**/Cookies*

**/Session Storage/

**/IndexedDB/

whatsdesk/

BraveSoftware/Brave-Browser/

Code - OSS/

FreeCAD/

GIMP/3.0/

Kingsoft/

Kitware/

Kvantum/

MangoHud/

Meltytech/

Pinta/

RaySession/

StayFree/

Thunar/

Upscayl/

WallRizz/

alacritty/

appimage-manager/

arch-config/

arduino-ide/

autostart/

balenaEtcher/

bashtop/

better-control/

blender/5.0/config/

cachyos/cachyos-pi/

chromium/

copyq/

corectrl/

dconf/

dgop/

evolution/sources/

fuzzel/

gnome-boxes/sources/

gnome-builder/syntax/

go/telemetry/local

gooverlay/

gpu-screen-recorder/

hellpaper/

htop/

hyprwave/

ibus/bus/

inkscape/

kdeconnect/

kdedefaults/

kitty/

libaccounts-glib/

libreoffice/4/

libvirt/storage/

menus/applications-merged/

micro/

mozilla/firefox/

nemo/

nirimap/

nomacs/

obs-studio/

octopi/

onlyoffice/

org.keshavnrj.ubuntu/

pacmixer/

plasma-workspace/env/

pulse/

qBittorent/

qalculate/

rncbc.org/

rofi.chriz/

session/

simple-scan/

simple-update-notifier/

spyder-py3/

sublime-text-3

swaylock/

systemd/user

totem/

variety/

vkBasalt/

vlc/

way-edges/

waypaper/

waytrogen/

wlogout/

wofi/

xfce4/

xsettingsd/

yazi/

youtui/

zathura/

.dmenurc

.gitignore

.gsd-keyboard.settings-ported

EOS-greeter.conf

QtProject.conf

Trolltech.conf

arkrc

background

baloofillerc

bluedevilgloballrc

cachyos-hello.json

dolphinrc

gnome-initial-setup-done

gtkrc

gtkrc-2.0

gwenviewrc

hyfetch.json

kactivitymanagerd-stratsrc

kactivitymanagerdrc

katevirc

kcminputrc

kconf_updaterc

kded5rc

kded6rc

kdeglobals

kdeglobalshortcutsrc

konsolerc

konsolesshconfig

ksmserverrc

ktimezonedrc

kwalletrc

kwinoutputconfig.json

kwinrc

kwriterc

mimeapps.list

okularpartrc

okularrc

partitionmanagerrc

pavucontrol.ini

plasma-localerc

plasma-org.kde.plasma.desktop-appletsrc

plasmarc

plasmashellrc

powermanagementprofilesrc

systemmonitorrc

user-dirs.dirs

user-dirs.dirs

user-dirs.locale

yin_yang_dev.json

zen/