layout {

    focus-ring {
        active-color   "#b6ccbf"
        inactive-color "#131413"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b6ccbf"
        inactive-color "#131413"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b6ccbf"
        inactive-color "#8c928d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b6ccbf80"
    }
}

recent-windows {
    highlight {
        active-color "#b6ccbf"
        urgent-color "#ffb4ab"
    }
}
