<?xml version="1.0" encoding="utf-8"?>
<AddinSystemConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Repositories>
    <Repository id="rep0">
      <IsReference>false</IsReference>
      <File>/home/chriz/.config/Pinta/addins/repository-cache/pintaproject.github.io_0.mrep</File>
      <Url>http://pintaproject.github.io/Pinta-Community-Addins/repository/Linux/main.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>Pinta Community Addins - Platform-Specific</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep1">
      <IsReference>false</IsReference>
      <File>/home/chriz/.config/Pinta/addins/repository-cache/pintaproject.github.io_1.mrep</File>
      <Url>http://pintaproject.github.io/Pinta-Community-Addins/repository/All/main.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>Pinta Community Addins - Cross-Platform</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep2">
      <IsReference>true</IsReference>
      <File>/home/chriz/.config/Pinta/addins/repository-cache/pintaproject.github.io_2.mrep</File>
      <Url>http://pintaproject.github.io/Pinta-Community-Addins/repository/Linux/root.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>pintaproject.github.io</Name>
      <LastModified>2025-09-09T06:34:54.5443856+04:00</LastModified>
    </Repository>
    <Repository id="rep3">
      <IsReference>true</IsReference>
      <File>/home/chriz/.config/Pinta/addins/repository-cache/pintaproject.github.io_3.mrep</File>
      <Url>http://pintaproject.github.io/Pinta-Community-Addins/repository/All/root.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>pintaproject.github.io</Name>
      <LastModified>2025-09-09T06:34:54.4424146+04:00</LastModified>
    </Repository>
  </Repositories>
  <RepositoryIdCount>4</RepositoryIdCount>
  <DisabledAddins />
  <AddinPaths />
</AddinSystemConfiguration>