/* Base */
@define-color foreground #e3e2e6;
@define-color background #121316;

/* Accent */
@define-color primary #aac8f6;
@define-color primary_text #0d3157;
@define-color secondary #bcc7db;
@define-color secondary_text #263140;
@define-color tertiary #e7b7e7;
@define-color urgent #ffb4ab;

/* --- compatibility with your old style.css --- */

@define-color text @foreground;
@define-color focused @primary;
@define-color focused2 @secondary;
@define-color second-background alpha(@primary, 0.25);
@define-color color1 @primary;
@define-color color2 @secondary;
@define-color color3 @tertiary;
@define-color background2 #0d3157;