/* Base */
@define-color foreground #e0e2ea;
@define-color background #101319;

/* Accent */
@define-color primary #a7c8ff;
@define-color primary_text #003060;
@define-color secondary #b0c8f2;
@define-color secondary_text #173153;
@define-color tertiary #f0b0ff;
@define-color urgent #ffb4ab;

/* --- compatibility with your old style.css --- */

@define-color text @foreground;
@define-color focused @primary;
@define-color focused2 @secondary;
@define-color second-background alpha(@primary, 0.25);
@define-color color1 @primary;
@define-color color2 @secondary;
@define-color color3 @tertiary;
@define-color background2 #003060;