/* Base */
@define-color foreground #e4e2e0;
@define-color background #131413;

/* Accent */
@define-color primary #b6ccbf;
@define-color primary_text #21342b;
@define-color secondary #c0c8c2;
@define-color secondary_text #2a322e;
@define-color tertiary #c1c6d9;
@define-color urgent #ffb4ab;

/* --- compatibility with your old style.css --- */

@define-color text @foreground;
@define-color focused @primary;
@define-color focused2 @secondary;
@define-color second-background alpha(@primary, 0.25);
@define-color color1 @primary;
@define-color color2 @secondary;
@define-color color3 @tertiary;
@define-color background2 #21342b;