* {
    font-family: "Hack", monospace;
}

window {
    background-color: #000000;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    background-color: #ffffff;
    color: black;
}

#inner-box {
    background-color: #000000;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #000000;
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
    color: white;+
}

#entry:nth-child(even){
    background-color: #000000;
}

#entry:selected {
    background-color: #FFFFFF;
}

#text:selected {
    background: black;
}
